@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&display=swap');

:root {
  --primary: #535bf2;
  --secondary: #242424;



  font-family: 'Kanit',Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: #242424;
  background-color: #535bf2;
  padding: 0.3em 0.7rem;
  transition: 100ms all;
  text-decoration: inherit;
}
a:hover {
  opacity: 0.9;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
}



.root-layout{ 
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.root-layout nav{ 
  display: flex;
  justify-content: end;
  padding: 2rem 5rem ;
  align-items: center;
  gap: 1rem;
}

.root-layout header h1{ 
  margin-right: auto;
}


.root-layout main{ 
  width: 100vw;
  height: 10rem;
  text-align: center;
}


.landing{ 
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
}

.landing h1{ 
  font-size: 7rem;
  text-shadow: 1px 1px 10px salmon;
}

.landing p{
  font-size: 1rem;
 }