.flashbang__container{ 
    width: 100%;
    height: calc( 100svh - (var(--navbar-height)*2));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.flashbang__main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-top: 2rem;
}


.flashText{
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(3, min(30svw, 250px)); /* Set column width */
    grid-auto-rows: min(25svw, 200px); }

.flash-card{ 
    background: transparent;
    position: relative;
    perspective: 1000px;
    transition: transform 0.2s;
    transition: opacity 0.2s ease-out; 
}

/* media (max-width: 1200px) {
    .flashbang__main{
        grid-template-columns: 1fr 1fr;
    }
.flashText{

}
    .flash-card{
        width: min(30svw, 145px);
        margin-bottom: 2svw;
    }
    .flashbang__container{ 
        margin-top: 5rem;
    }
}@ */

.flash-card-inner{ 
    
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    box-shadow: 0 0px 1rem -0.5rem rgba(255, 255, 255, 0.61);

}

@keyframes error{ 
    from { 
        transform: translate(-1%, 0)
    }
    to{
        transform: translate(1%, 0)
    }
}
.flash-card:hover{ 
    transform: scale(1.02);
    opacity: 0.9;
}
.flash-card-front, .flash-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;

    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flash-card-front{
    background-color: var(--teritary);
    color: var(--white);
}
.flash-card-back{
    background-color: var(--primary);
    color: var(--bg);
    transform: rotateY(180deg);
}

.flash-card-active{
    transform: rotateY(180deg);
}
.flash-card-success{ 
    background-color: var(--success);
    transform: rotateY(180deg);
}
.flash-card-error{
    animation-name: error;
    animation-duration: 4s;
}
.clues{ 
    width: 100%;
    height: 100%;
    display: grid;
    gap: 1rem;
}

.clue{ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem ;
    color: var(--white);
    border: 0.1rem solid var(--primary);
    box-shadow: inset 0 0 2rem -1rem black;
    color: black;
    background-color: var(--white);
    transition: opacity 0.4s ease-out;
    transition: border 0s;
    cursor: pointer;
}


.clue:hover{ 
    opacity: 0.9;



}

.clue-active{ 
    background-color: var(--primary);
    border-color: var(--white);
}

.clue-success{
    background-color:var(--success);
    border: 0.1rem solid var(--success);
    box-shadow: none;
}

.clue-error{ 
    background-color: var(--error);
    border-color: var(--white);
}


.flash-over-background{ 
    position: absolute;
    width: 100%;
    height: calc(100% - var(--navbar-height));
    bottom: 0;
}


.flash-over-container{ 
    width: 100%;
    height: calc(100% - var(--navbar-height));

}


.flash-over-modal{ 
    padding: 5rem;
    background-color: var(--primary);
    flex-direction: column;
    gap: 2.5rem;
    box-shadow: 0 0 40rem var(--secondary);
    border-radius: .51rem;
}

.flash-over-modal a{ 
    padding: 1rem;
    background-color: var(--bg);
    margin-left: 1rem;
}


.flash-over-modal h1{ 
    font-size: 5rem;
    color: var(--bg);
    text-shadow: 0.2rem 0.2rem 0rem var(--error);
}